/*============COLORS=============*/
/*============SIZES=============*/
#map {
  background-color: grey;
  height: 91vh;
  width: 100%; }

#sidePane {
  width: 30px; }

.container-grid {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 32% 68%;
  grid-template-rows: 9vh 91vh;
  grid-template-areas: "header header" "sidebar main"; }

.container-sidebar {
  margin: 0px;
  padding: 0px;
  display: grid;
  overflow: auto;
  grid-template-columns: 100%;
  grid-template-rows: 39vh 50vh;
  grid-template-areas: "header header" "main main"; }

.main-img_sidebar {
  grid-area: header;
  background-color: red; }

.content_sidebar {
  grid-area: main;
  background-color: green; }

.header {
  grid-area: header; }

.main {
  grid-area: main; }

.sidebar {
  grid-area: sidebar;
  height: 91vh; }

@media (max-width: 1200px) {
  .container-grid {
    grid-template-areas: "header header" "main main" "sidebar sidebar"; } }
