/*============COLORS=============*/
$main-header-bg-color:rgba(255, 255, 255,0.99);
$navbar-toggle-bg-color:tomato;
/*============SIZES=============*/
$phone-media-max-size:451px;
$phablet-media-max-size:766px;


